.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}

.title {
    margin: 0;
    color: var(--detail-white);
    font-weight: 400;
}

.subtitle {
    color: var(--gray-detail);
    font-weight: 500;
    font-size: 10px;
}

.validation {
    font-weight: 500;
    font-size: 8px;
    color: #ff623e;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

.resetPassword {
    margin: 0;
    color: var(--gray-detail);
    font-weight: 500;
    font-size: 10px;
    cursor: pointer;

    &:hover{
        color: var(--detail-white);
        transition: all 0.5s;
    }
}